<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ressie</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

        /* Start content */
        html {
            scroll-behavior: smooth;
        }

        a {
            text-decoration: none;
        }

        .titleLink {
            color: #fff;
        }

        .notoReg {
            font-family: Noto Sans JP, Noto Sans, sans-serif;
            font-weight: 400;
        }

        .notoBold {
            font-family: Noto Sans JP, Noto Sans, sans-serif;
            font-weight: 700;
        }

        .contentBtn {
            margin-left: 5px;
            margin-right: 5px;
        }

        #image-image {
            width: 100%;
            height: 100%;
        }
    </style>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"
        integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="app">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a id="title" class="navbar-brand notoReg">Ressie</a>
                <a href="https://github.com/joshua-noakes1/ressie" target="_blank">
                    <button id="github-btn" class="btn btn-secondary my-2 my-sm-0">Github</button></a>
            </div>
        </nav>
        <!-- App Content -->
        <div id="cards" class="container py-4 text-center">
            <% if (images.length > 0) { %>
            <% images.forEach(image => { %>
            <div id="<%= image.id %>" class="card text-white bg-dark h-100 p-5 mb-3 rounded-3 shadow">
                <a href="#<%= image.id %>" class="titleLink">
                    <h3 class="card-header rounded notoBold"><%= image.name %></h3>
                </a>
                <% if (image.tagline != "") { %>
                <div class="card-body">
                    <h5 class="card-title notoReg"><%= image.tagline %></h5>
                </div>
                <% } else { %>
                <br>
                <% } %>
                <img id="image-image" <% if (!image.URL.image) { %> src="/static/images/image-<%= image.id %>.png"
                    <% } else { %> src="<%= image.URL.image %>" <% } %>class="rounded" loading="lazy" focusable="false"
                    style="display:block;margin:auto;"></img>
                <% if (image.type == 'episode') { %>
                <div class="card-body">
                    <p class="card-text notoReg"><%= image.summary %></p>
                </div>
                <% } else { %>
                <br>
                <% } %>
                <span>
                    <% if (image.type != 'music') { %>
                    <% if (image.tmdbID != '000000') { %>
                    <a href="<%= image.URL.tmdb %>" target="_blank">
                        <button id="github-btn" class="btn btn-primary contentBtn my-2 my-sm-0 notoReg">View on
                            TMDB</button></a>
                    <% } %>
                    <a href="<%= image.URL.plex %>" target="_blank">
                        <button id="github-btn" class="btn btn-warning contentBtn my-2 my-sm-0 notoReg"
                            style="color:#333">Watch
                            on Plex</button></a>
                    <% } else { %>
                    <a href="<%= image.URL.spotify %>" target="_blank">
                        <button id="github-btn" class="btn btn-success contentBtn my-2 my-sm-0 notoReg"
                            style="color:#333">Listen
                            on Spotify</button></a>
                    <% } %>
                </span>
            </div>
            <br>
            <% }); %>
            <% } else { %>
            <!-- Missing Content Card -->
            <div class="card text-white bg-dark h-100 p-5 mb-3 rounded-3 shadow">
                <h3 class="card-header rounded notoBold">No cards made</h3>
                <div class="card-body">
                    <h5 class="card-title notoReg">No media cards have been created yet.</h5>
                    <a href="https://app.plex.tv" target="_blank">
                        <button id="github-btn" class="btn btn-warning contentBtn my-2 my-sm-0 notoReg"
                            style="color:#333">Get Watching!</button></a>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <!-- Await for changes from Socket.io -->
    <script defer>
        // make connection to socket.io
        var socket = io.connect(`${location.protocol}//${location.hostname}:${location.port}`);

        // websocket event listener
        socket.on('connect', function () {
            console.log(`[Success] New websocket connection, Auto-Updates Enabled (ID: "${socket.id}")`);
        });
        socket.io.on("error", function () {
            console.log(`[Error] Lost websocket connection, Auto-Updates Disabled`);
        });

        // update new image from server
        socket.on('fileChanged', function (image) {
            // base image block
            var newImage = document.createElement('div');
            newImage.id = image.id;
            newImage.classList = "card text-white bg-dark h-100 p-5 mb-3 rounded-3 shadow";

            // title block
            var newTitleLink = document.createElement('a');
            newTitleLink.classList = "titleLink";
            newTitleLink.href = "#" + image.id;
            var newTitle = document.createElement('h3');
            newTitle.classList = "card-header rounded notoBold";
            newTitle.innerHTML = image.name;
            newTitleLink.appendChild(newTitle);
            newImage.appendChild(newTitleLink);

            // tagline block
            if (image.tagline != "") {
                var newTagline = document.createElement('div');
                newTagline.classList = "card-body";
                var newTaglineTitle = document.createElement('h5');
                newTaglineTitle.classList = "card-title notoReg";
                newTaglineTitle.innerHTML = image.tagline;
                newTagline.appendChild(newTaglineTitle);
                newImage.appendChild(newTagline);
            }

            // image block
            var newImageBlock = document.createElement('img');
            newImageBlock.id = "image-image";
            if (!image.URL.image) {
                newImageBlock.src = "/static/images/image-" + image.id + ".png";
            } else {
                newImageBlock.src = image.URL.image;
            }
            newImageBlock.classList = "rounded";
            newImageBlock.loading = "lazy";
            newImageBlock.focusable = "false";
            newImageBlock.style = "display:block;margin:auto;";
            newImage.appendChild(newImageBlock);

            // summary block
            if (image.summary) {
                var newSummary = document.createElement('div');
                newSummary.classList = "card-body";
                var newSummaryText = document.createElement('p');
                newSummaryText.classList = "card-text notoReg";
                newSummaryText.innerHTML = image.summary;
                newSummary.appendChild(newSummaryText);
                newImage.appendChild(newSummary);
            }

            // image break block
            if (!image.summary) {
                var newImageBreak = document.createElement('br');
                newImage.appendChild(newImageBreak);
            }

            // buttons block
            switch (image.type) {
                case 'episode':
                case 'movie':
                    var newButtons = document.createElement('span');
                    if (image.tmdbID != '000000') {
                        var newTmdbButton = document.createElement('a');
                        newTmdbButton.href = image.URL.tmdb;
                        newTmdbButton.target = "_blank";
                        var newTmdbButtonText = document.createElement('button');
                        newTmdbButtonText.id = "github-btn";
                        newTmdbButtonText.classList = "btn btn-primary contentBtn my-2 my-sm-0 notoReg";
                        newTmdbButtonText.innerHTML = "View on TMDB";
                        newTmdbButton.appendChild(newTmdbButtonText);
                        newButtons.appendChild(newTmdbButton);
                    }
                    var newPlexButton = document.createElement('a');
                    newPlexButton.href = image.URL.plex;
                    newPlexButton.target = "_blank";
                    var newPlexButtonText = document.createElement('button');
                    newPlexButtonText.id = "github-btn";
                    newPlexButtonText.classList = "btn btn-warning contentBtn my-2 my-sm-0 notoReg";
                    newPlexButtonText.innerHTML = "Watch on Plex";
                    newPlexButton.appendChild(newPlexButtonText);
                    newButtons.appendChild(newPlexButton);
                    newImage.appendChild(newButtons);
                    break;
                case 'music':
                    var newButtons = document.createElement('span');
                    var newSpotifyButton = document.createElement('a');
                    newSpotifyButton.href = image.URL.spotify;
                    newSpotifyButton.target = "_blank";
                    var newSpotifyButtonText = document.createElement('button');
                    newSpotifyButtonText.id = "github-btn";
                    newSpotifyButtonText.classList = "btn btn-success contentBtn my-2 my-sm-0 notoReg";
                    newSpotifyButtonText.innerHTML = "Listen on Spotify";
                    newSpotifyButton.appendChild(newSpotifyButtonText);
                    newButtons.appendChild(newSpotifyButton);
                    newImage.appendChild(newButtons);
                    break;
            }

            // create new image break
            var newImageBreak = document.createElement('br');
            document.getElementById('cards').prepend(newImageBreak);

            // prepend to the image container
            document.getElementById('cards').prepend(newImage);

            // reload the page to the new image
            history.pushState(null, null, location.pathname + location.search);
            location.hash = '#' + `${image.id}`;

            // log the update
            console.log(`[Update] New Image: ${image.name} (${image.type} - ${image.id})`);
        });
    </script>
</body>



</html>